 
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


body{
    background-color: rgb(34, 34, 34);
    color :white;
    font-family: 'Poppins', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title {
    flex-direction: column;
    line-height: 10px; /*Diminui os espaços entre os textos*/
}

li{
    display: inline-block;
    margin:20px; /*Como se fosse blocos da um espaço nos elementos*/
}

a{
    color:white;
}

a:hover{
    color:rgb(132, 14, 201);
    transition: 0.3s ;
}

.criar-conta{
    border: 2px solid rgb(132, 14, 201); /*Largura, solida, cor*/
    padding: 10px; /*Cria uma margin interna*/
    border-radius: 15px;
}

.criar-conta:hover{
    background-color: rgb(132, 14, 201);
    color:white;

}


h1{
    font-weight: 200;
}

main{
    display: flex;
    flex-direction: row;
    margin-top:50px;
}

h2{
    font-size: 56px;
    line-height: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 500 ;
}
.principal{
    color: rgb(132, 14, 201);
}
p{
    line-height: 20px;
    max-width: 500px;/*Faz o paragrafo ter uma largura maxima de 500px*/
    font-family: "Poppins", sans-serif;
    font-weight: 200;

}

img{
    width: 580px;
}

form{
    display: flex;
    flex-direction: column;
    width: 70%; /*Uma largura de 70% da tela principal*/
}

form [type="submit"] {
    height: 50px; /*altura*/
    width: 50%; /*largura*/
    background-color: rgb(132, 14, 201);
    color: white;
    font-weight: bold;

}
form [type="submit"]:hover {
    cursor: pointer;
}


input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}